<body>
<h2 class="text-center"><%= t("profile.show.title") %></h2>
<div class="container">
  <div class="row" style="background-image: url(/profile_bg.gif); background-size: cover;">
    <div class="col-3" style="margin-top: 2%;">
      <p><%= image_tag get_avatar, :style => "border-radius: 50%;" %></p>
    </div>
    <div class="col-5">
      <h3 class="text-left" style="color:white; margin-top: 20%;">
        <strong>
          <%= @profile.first_name %>
          <%= @profile.second_name %>
        </strong>
      </h3>
      <%= link_to t("profile.show.edit"), edit_profile_path, {:style => 'color:white;', :class => "btn btn-secondary"} %>
      <%= link_to t("profile.show.edit_password"), edit_user_registration_path, {:style => 'color:white;', :class => "btn btn-secondary"} %>
    </div>
  </div>
</div>
<h2 class="text-center"><%= t("profile.show.employments") %></h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= t("profile.show.address") %></th>
    <th scope="col"><%= t("profile.show.price") %></th>
    <th scope="col"><%= t("profile.show.start_date") %></th>
    <th scope="col"><%= t("profile.show.end_of_lease") %></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: "employment", collection: @employments %>
  </tbody>
</table>

<hr>
</body>

