<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= t("admin.users.full_name") %></th>
    <th scope="col"><%= t("admin.users.email") %></th>
    <th scope="col"><%= t("admin.users.count") %></th>
    <th scope="col"><%= t("admin.users.pay") %></th>
    <th scope="col"><%= t("admin.users.created_at") %></th>
    <th scope="col"><%= t("admin.users.admin") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.find_each do |user| %>
    <tr id="user">
      <td>
        <%= user.first_name %>
        <%= user.second_name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= User.get_billboards_count(user.id) %>
      </td>
      <td>
        <%= User.get_pay_per_month(user.id) %>
      </td>
      <td>
        <%= formatted_date(user.created_at) %>
      </td>
      <td>
        <%= user.admin %>
      </td>
      <td>
        <%= link_to t("admin.users.appoint_admin"), admin_appoint_admin_path(:user_id => user.id), method: :patch %>
      </td>
      <td>
        <%= link_to t("admin.users.remove_admin"), admin_remove_admin_path(:user_id => user.id), method: :patch %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</body>