<body class="text-center">
<h1 class="h3 mt-5 mb-3 font-weight-normal"><%= t("devise.sessions.new.title")%></h1>
<%=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center">
    <%= f.email_field :email, {autofocus: true, autocomplete: "email",
                               :class=>"col-3 form-control",
                               :placeholder=>t("devise.sessions.new.email")} %>
  </div>
  <div class="row justify-content-center">
    <%= f.password_field :password, {autocomplete: "current-password",
                                     :class=>"mb-3 col-3 form-control",
                                     :placeholder => t("devise.sessions.new.password")}%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="container">
      <%= f.check_box :remember_me, :class=>"mb-3" %>
      <%= f.label :remember_me%>
    </div>
  <% end %>

  <div >
    <%= f.submit t("devise.sessions.new.submit"),{:class => "mb-2 btn btn-primary"} %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>