<%= form_with(model: billboard_employment, local: false, url: billboard_billboard_employments_path) do |form| %>
  <% if billboard_employment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billboard_employment.errors.count, "error") %> prohibited this billboard_employment from being saved:</h2>

      <ul>
        <% billboard_employment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-8">
    <h2><%= t("employment.new.head") %></h2>
    <p>
      <%= t("employment.new.body") %>
      <%= form.text_field(:body, {:class => "form-control"}) %>
    </p>
    <p>
      <%= t("employment.new.brand") %>
      <%= form.text_area(:brand, {:class => "form-control"}) %>
    </p>
    <p>
      <%= t("employment.new.adv_type") %>
      <%= form.select(:adv_type,@adv_types, {}, {:class => "form-control"}) %>
    </p>
    <p>
      <%= t("employment.new.start_date") %>
      <%= form.date_field(:start_date, {:class => "form-control"}) %>
    </p>
    <p>
      <%= t("employment.new.duration") %>
      <%= form.text_field(:duration, {:class => "form-control"}) %>
    </p>
    <div class="actions">
      <%= form.submit t("employment.new.submit"), :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
