<p><%= t("devise.mailer.email_changed.welcome") %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t("devise.mailer.email_changed.message1") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t("devise.mailer.email_changed.message2") %> <%= @resource.email %>.</p>
<% end %>
