<div class="container">
  <div class="row">
    <div class="col-6">
      <%= render "billboard", billboard: @billboard %>
      <%= image_tag @billboard.photo.url if @billboard.photo? %>

      <div>
        <h2><%= t("comment.title") %></h2>
        <div class="row" id="row-main">
          <%= render @billboard.comments %>
        </div>
      </div>
      <div id="new-comment">
        <%= link_to image_tag("/add.png", size: "25x25"), new_billboard_comment_path(@billboard),
                    remote: true if user_signed_in? %>
      </div>
    </div>
    <div class="col-5">
      <div id="new-employment">
        <%= link_to t("billboard.show.request"),
                    new_billboard_billboard_employment_path(@billboard), remote: true if user_signed_in? %>
      </div>
    </div>
  </div>
</div>
