<!DOCTYPE html>
<html>
<head>
  <title><%= t("application.head") %></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style type="text/css">
    A:hover {
      background: transparent;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
  <h5 class="navbar-brand ">
    <%= link_to image_tag("/main.png", size: "35x35"), home_path, {:style => 'color:CC;', :class => "alert-link"} %>
  </h5>
  <% if user_signed_in? and current_user.admin %>
    <div class="btn-group navbar-brand pr-5" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" style=" margin-left: 50%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("application.admin_menu") %>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <link class="dropdown-item"><%= link_to t("application.new_billboard"), new_billboard_path,
                                                    {:style => 'color:#808080;', :class => "alert-link ", :remote => false} %>
        <link class="dropdown-item"><%= link_to t("application.users"), users_admin_path,
                                                {:style => 'color:#808080;', :class => "alert-link ", :remote => false} %>
        <link class="dropdown-item"><%= link_to t("application.employments"), billboards_admin_path,
                                                {:style => 'color:#808080;', :class => "alert-link ", :remote => false} %>
      </div>
    </div>
  <% end %>


  <% if user_signed_in? %>
    <div class="btn-group navbar-brand pr-5" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" style=" margin-left: 50%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t("application.menu") %>
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <link class="dropdown-item"><%= link_to t("application.profile"), profile_path,
                                                {:style => 'color:#808080;', :class => "alert-link"} %>
        <link class="dropdown-item"><%= link_to t("application.settings"), edit_profile_path,
                                                {:style => 'color:#808080;', :class => "alert-link"} %>
        <link class="dropdown-item"><%= link_to t("application.sign_out"), destroy_user_session_path,
                                                {:style => 'color:#808080;', :class => "alert-link", :method => :delete} %>
      </div>
    </div>
  <% else %>
    <h6><%= link_to t("application.log_in"), new_user_session_path, {:style => 'color:	#C0C0C0;', :class => "alert-link"} %></h6>
  <% end %>
</nav>
<br>
<div class="container">
  <%= yield %>
</div>
<footer class="my-5 pt-5 ">
  <hr>
  <div class="text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 Billboards</p>
  </div>
</footer>

</body>
</html>
